[Desktop Entry]
Type=Application
Name=Install ArcoLinux
Comment=Installer for ArcoLinux
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;Utility
Exec=pkexec calamares
Icon=arco-calamares
